p {
    animation-duration: 3s;
    animation-delay: 10s;
    animation-name: glissement;
    animation-iteration-count: infinite;
  }
  @keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }