* {
    Margin: 0;
    Padding: 0;
    Border: 0;
}

.body {
    background: url(../images/wood.png);

    /*background-color: darkgray;*/
    background-size:20%;
    font-family: 'Times New Romans';
}

header {
    height: 5em;
    padding: 5em;
}

section {
    width: auto;
    height: auto;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
    }
}

.nom {
    height: inherit;
    width: 35em;
    float: left;
    border-style: solid;
    border-color: #4C4C4C;
    border-radius: 0.5em;
    box-shadow: 0.35em 0.4em #5D0505;
    background: #969696;
    animation: pulse 1.3s;
    /*animation-iteration-count: 5;*/
}

.menu ul li {
    float: left;
    margin: 0.1em;
    padding: 0.25em;
    background-color: #969696;
    border-width: 0.2em;
    border-style: solid;
    border-color: #4C4C4C;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}


/*.menu a:hover, a:visited {
    color: #9700FF;
    text-decoration: underline;
}*/

h1, p {
    color: purple;
    text-align: center;
}

h2, p {
    color: purple;
    text-align: center;
}

h3, p {
    text-align: center;
}

.paragraphe {
    color : #001185;
}

.history {
    background: url(../images/wood2.png);
    margin: 10em;
    padding: 1.5em;
    border-style: solid;
    border-width: 0.1em;
    display: flex;
}	

.history-title {
    color : purple;
    padding: 10px 0 10px 0;
    text-decoration: underline;
}

.framework-history-p {
    color : #001185;
    padding: 10px;
}

.frontend-history-p {
    color : #001185;
    text-decoration: underline;
    font-weight: bold;
}

.backend-history-p {
    color : #001185;
    text-decoration: underline;
    font-weight: bold;
}

.history-meteor-title-list {
    list-style-type: none;
}

.history-meteor-title {
    color : #001185;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.history-meteor {
    color : #001185;
    padding: 10px;
}

.history-framework {
    background-color: #969696;
    width:100%;
    height:250px;
    border:1px solid black;
    margin:1px;
    margin-bottom: 5px;
    border-radius: 0.5em;
    box-shadow: 2px 4px 4px #5D0505;
    overflow-y:auto;
}

.history-backend {
    background-color: #969696;
    width:100%;
    height:250px;
    border:1px solid black;
    margin:1px;
    margin-bottom: 5px;
    border-radius: 0.5em;
    box-shadow: 2px 4px 4px #5D0505;
    overflow-y:auto;
}

.history-frontend {
    background-color: #969696;
    width:100%;
    height:250px;
    border:1px solid black;
    margin:1px;
    margin-bottom: 5px;
    border-radius: 0.5em;
    box-shadow: 2px 4px 4px #5D0505;
    overflow-y:auto;
}

.history-angular-title {
    color : #001185;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    
}

.history-angular-title-list {
    list-style-type: none;
}

.history-angular {
    color : #001185;
    padding: 10px;
}
